body {
  padding: 1rem;
  background-color: lightgray;
  text-align: left;
}

.selectors {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  border: 5px;
  border-top: solid;
}

.selector {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin-right: 5%;
}

.key {
  border: solid;
  padding-left: 1rem;
  padding-right: 1rem;
  width: fit-content;
  text-align: center;
}
